In [ ]:
import pandas as pd

In [ ]:
!git clone https://github.com/tdeme/NLP-Political-Bias.git

Cloning into 'NLP-Political-Bias'...
remote: Enumerating objects: 8, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 8 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (8/8), done.

In [ ]:
left_tweets_df = pd.read_csv('/content/NLP-Political-Bias/Rleft_tweets.csv')
right_tweets_df = pd.read_csv('/content/NLP-Political-Bias/Rright_tweets.csv')

In [ ]:
print(len(left_tweets_df))
print(len(right_tweets_df))

49532
40105

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

nltk_stopwords = stopwords.words('english')
for stopword in ('http','https','co'):
  nltk_stopwords.append(stopword)

left_tf_vectorizer = CountVectorizer(max_df=0.8, min_df=25, ngram_range=(2,3), binary=True, stop_words=nltk_stopwords)
right_tf_vectorizer = CountVectorizer(max_df=0.8, min_df=25, ngram_range=(2,3), binary=True, stop_words=nltk_stopwords)

left_term_freqs = left_tf_vectorizer.fit_transform(left_tweets_df['tweet'].values.astype('U'))
right_term_freqs = right_tf_vectorizer.fit_transform(right_tweets_df['tweet'].values.astype('U'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
#Make dataframes for the term frequencies for left and right

left_phrases_df = pd.DataFrame(data=left_tf_vectorizer.get_feature_names(),columns=['phrase'])
left_phrases_df['total_occurences'] = left_term_freqs.sum(axis=0).T
left_phrases_df.sort_values(by='total_occurences',ascending=False).head(50).to_csv('left_top_50.csv', index=False)

right_phrases_df = pd.DataFrame(data=right_tf_vectorizer.get_feature_names(),columns=['phrase'])
right_phrases_df['total_occurences'] = right_term_freqs.sum(axis=0).T
right_phrases_df.sort_values(by='total_occurences',ascending=False).head(50).to_csv('right_top_50.csv', index=False)

print(left_phrases_df)
print(right_phrases_df)

                           phrase  total_occurences
0                   000 americans               105
1                    000 children                36
2                    000 dreamers                25
3                     000 federal                38
4                       000 month                27
...                           ...               ...
2310  youtube video congresswoman                26
2311                      yrs ago                28
2312               zero tolerance                43
2313        zero tolerance policy                29
2314                     zip code                31

[2315 rows x 2 columns]
                 phrase  total_occurences
0              000 jobs                45
1               000 new                43
2          000 new jobs                29
3               100 000                30
4              100 days                26
...                 ...               ...
1129         years come                29
1130      years service                25
1131  yesterday discuss                38
1132        yet another                65
1133       young people                26

[1134 rows x 2 columns]